.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  gap: 0.8rem;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border-radius: 5px;
  width: 20vw;
  padding: 2rem;
  min-width: 20vw;
  min-height: 25vh;
  animation-name: appearIndex;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  color: #fff;
  animation-duration: 0.8s;
}

.cardBody {
  display: flex;
  flex-direction: column;
}
.cardResults {
  text-align: left;
  animation-name: appear;
  animation-duration: 1s;
}

.cardResults h3 {
  font-size: 1rem;
  font-weight: 400;
}

.cardResults h2 {
  font-weight: 400;
}

@media (max-width: 768px) {
  .card {
    min-width: 60vw;
  }
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appearIndex {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
