.cardResults {
  text-align: left;
  animation-name: appear;
  animation-duration: 1s;
}

.cardResults h3 {
  font-size: 1rem;
  font-weight: 400;
}

.cardResults h2 {
  font-weight: 600;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
